@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#008080, #071f4d);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;
    position: fixed;
    width: 100%;
    transition: 200ms ease-in-out background-color,
        200ms ease-in-out box-shadow;
    z-index: 3000;
}


.navbar {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    padding: 0 5%;
}


.navbar .logo {
    cursor: pointer;
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 50px;
    height: 50px;
}

.navbar .logo a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: lowercase;
    padding-left: 0px;
}

.links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

.links li a:hover,
.links li a.active {
    background: #fff;
    color: #008080;
}

.active-nav {
    background: linear-gradient(to top, #071f4d, #008080);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
}

.active-nav .links a,
.active-nav .logo {
    color: #fff;
}

.active-nav .links a:hover {
    color: #008080;
}

#nav-toggle {
    position: absolute;
    display: none;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
}

section {
    position: relative;
    width: 100%;
    height: 120vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #071f4d, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#stars {
    position: fixed;
}

section img#moon {
    mix-blend-mode: screen;
    position: absolute;
}

section img#mountain_front {
    z-index: 10;
}

#logo {
    position: absolute;
    z-index: 9;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    text-transform: lowercase
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #008080;
    font-size: 1.5em;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 200px;
    background: #071f4d;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.sec p {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.content-img img {
    display: block;
    padding-top: 70px;
    margin: 0px auto;
}



.community img {
    color: #008080;
}

.community-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icons {
    /* background-color: #fff; */
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.icons p {
    font-size: 1em;
}

.icons h4 {
    font-size: 1.5em;
}

.icons p,
h4 {
    color: #fff;
}

.icons:hover {
    background-color: #008080;
    color: #008080;
    transform: scale(1.05);
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .text {
    flex-direction: column;
}

.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
}

.contact-form {
    width: 40%;
    padding: 40px;
    color: #fff;
    background: #071f4d;
}

.contact-form h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #008080;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box input:valid~span,
.contact-form .input-box textarea:focus~span,
.contact-form .input-box textarea:valid~span {
    color: #fff;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type='submit'] {
    width: 100px;
    background: #008080;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
}

aside .container {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: #008080;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    margin-top: 100px;
}

.profile-box:hover {
    background-color: #008080;
    transform: scale(1.05);
    transition: 0.5s;
}

.profile-box h3 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.profile-box button {
    background: #fff;
    color: #071f4d;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 40px;
    box-shadow: 0 5px 10px #071f4d;
    border: none;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}

.profile-bottom h3 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}

.social-media img {
    margin: 20px 5px;
    cursor: pointer;
    transition: 0.2s;
}

.social-media img:hover {
    transform: translateY(-10px)
}

footer {
    position: relative;
    width: 100%;
    background: linear-gradient(to top, #008080, #071f4d);
    min-height: 200px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icons,
.menu {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icons li,
footer .menu li {
    list-style: none;
}

footer .social-icons li img {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.2s;
}

footer .social-icons li img:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.2s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}


footer p {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    font-size: .75em;
}

@media screen and (max-width: 1000px) {
    .navbar .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        position: fixed;
        padding-top: 0px;
        z-index: 2000;
    }

    .navbar .links {
        float: none;
        height: auto;
        position: fixed;
        z-index: 3000;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        width: auto;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    .navbar .links a {
        font-size: 20px;
    }

    nav .icon-burger {
        display: block;
        top: 50px;
        z-index: 3000;
        position: fixed;
    }

    nav :checked~.links {
        bottom: 0;
    }

    #text {
        font-size: 60px;
    }

    .sec {
        padding: 20px;
        width: 100%;
    }

    .sec h2 {
        font-size: 40px;
    }

    section img {
        display: none;
    }

    section img#logo {
        display: flex;
    }

    section img#stars {
        display: flex;
    }

    .content-img img {
        width: 80%;
    }

    .community-icons {
        grid-template-columns: 1fr;
    }

    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contact-info {
        margin-bottom: 40px;
        align-items: center;
    }

    .container .contact-info,
    .contact-form {
        width: 100%;
    }

    aside .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-box {
        background: #008080;
        text-align: center;
        padding: 20px;
        color: #fff;
        position: relative;
        border-radius: 20px;
        /* margin-top: -100px; */
    }

    .profile-box p {
        font-size: 1em;
    }

    .profile-box h3 {
        font-size: 1em;
    }

    .profile-pic {
        width: 30%;
    }

}